body {
	font-family: "Courier New", Courier, monospace;
	color: white;
	background-color: rgb(172, 255, 47);
}

.container {
	padding: 100px;
}

.background {
	background-color: greenyellow;
	padding: 50px 100px;
}

.faces {
	margin-left: 150px;
	align-content: center;
}

#heading {
	font-size: 40px;
	text-align: center;
}

.face {
	width: 150px;
	height: 150px;
	margin: 20px;
	padding: 20px;
	background-color: white;
}

#rollBtn {
	background-color: white;
	border: none;
	color: green;
	padding: 15px 32px;
	display: inline-flex;
	font-size: 16px;
	margin-left: 460px;
}
