body {
	font-family: "Courier New", Courier, monospace;
}

#test1 {
	width: 200px;
	height: 100px;
	background-color: black;
}
.container {
	padding: 100px;
}

.machine {
	background-color: black;
	width: 300px;
	height: 600px;
	padding: 10px;
}

.header {
	padding: 20px;
	text-align: center;
}

.headerbg {
	padding: 10px;
	background-color: white;
}

.slots {
	display: inline;
	padding: 20px;
}

.slot {
	width: 100px;
	height: 100px;
	background-color: red;
	-webkit-transform: rotate(90deg);
}
