
body {
    text-align: center;
    background-color: lightblue;
    color: white;

}


#addBox{
  background-color:lightskyblue; /* Green */
  border:none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}


#options{
  margin-right: 50px;
  width: 200px;
  height: 100px;
  background-color: lightcoral;
  outline: none;
  color: white;
}

#options2{
  margin-right: 50px;
  width: 200px;
  height: 100px;
  background-color: lightcoral;
  outline: none;
  color: white;
}

.buttone{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}




