.box {
	margin-top: 50px;
	width: 500px;
	height: 500px;
	background-color: whitesmoke;
	position: relative;
}

#vertRange {
	position: absolute;
	transform: rotate(270deg);
	top: 48%;
	right: 48%;
}

#horizRange {
	margin-left: 25px;
	position: absolute;
	bottom: 0;
	width: 95%;
}

#display h1 {
	position: absolute;
	top: 40%;
	right: 45%;
}
