body {
	align-self: center;
	font-family: "Courier New", Courier, monospace;
	color: white;
}

.header {
	padding: 1px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 20px;
}

.options {
	margin-top: 20px;
	padding: 10px;
	border: 2px solid black;
	display: inline-block;
}

.meals {
	border: 2px solid green;
	padding: 10px;
	margin: 10px;
}

.sizes {
	border: 2px solid blue;
	padding: 10px;
	margin: 10px;
}

.toppings {
	border: 2px solid red;
	padding: 10px;
	margin: 10px;
}
.drinks {
	border: 2px solid darkgoldenrod;
	padding: 10px;
	margin: 10px;
}

.checkout {
	margin-top: 20px;
	position: relative;
	float: inline-end;
}

#cost {
	font-size: 50px;
	background-color: rgb(94, 177, 94);
}

#receiptItems {
	margin-left: 20px;
}

#button {
	background-color: black;
	color: white;
	border: none;
	padding: 15px 32px;
	text-decoration: none;
	font-size: 16px;
	float: right;
	position: relative;
}

.bg {
	background-image: url("bg.jpeg");
}
